

<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요. <a href="https://github.com/KyoungsupShin/portfolio/blob/master/robots.txt" download>AI어플리케이션 엔지니어</a> "신경섭" 입니다. 
            </p>


        </div>
    </section>
</div>

<!-- <p class="paragraph-text justify-text">
    My role models include old-school programmers and <a href="https://stallman.org/articles/on-hacking.html">hackers</a> who never make it to the mainstream news, but are responsible for most of the software that most people use on an everyday basis. I promote, support and use free and open source software to the extent possible. -->


<script src="https://unpkg.com/@mendable/search@0.0.205/dist/umd/mendable-bundle.min.js"></script>
<script>
Mendable.initialize({
    anon_key: 'dbb15796-1e85-41ab-a76e-fb59dc6c1ae8',
    type:"floatingButton",
    welcomeMessage:'Ask about Kyoungsup'
    // all the other props for the component type
});
</script>