<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p style="text-align: center; font-size: 18px;" class="paragraph-text justify-text">
                안녕하세요. <a href="https://github.com/KyoungsupShin/portfolio/blob/master/robots.txt" download>AI어플리케이션 엔지니어</a> "신경섭" 입니다. 저희 fundamental R&R은 아래와 같습니다.
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 인공 지능 기술 (w/t 비즈니스) : 최신의 인공 지능 기술과 알고리즘을 이해하고 습득하여 우리의 도메인에 고민하고 적용합니다. 
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 알고리즘 개발 (w/t Python, SQL): 이미지 분석, 데이터 분석, 패턴 인식, 예측 모델링 등을 포함하는 다양한 Machine learning 개발하고 구현합니다.
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 데이터 처리 및 관리 (w/t Azure, AWS, RDS): 결과 데이터를 수집, 저장, 처리하고 이를 활용하여 모델을 훈련시키는 과정을 수행하며, KPIs를 산출합니다. 
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 모델 훈련 및 평가 (w/t Python library): 다양한 기술을 사용하여 AI 모델을 훈련하고 평가합니다. 검증 및 테스트하여 모델의 성능을 평가를 담당합니다.
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 시스템 통합 (w/t APIs): 기존 비즈니스 시스템에 Machine learning기술이 포함된 기능을 추가하거나 Batch 데이터를 제공하여 기존 문제 해결, 업무 자동화를 구현합니다.  
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 성능 최적화 (w/t Python): 개발된 모델 및 시스템의 성능을 지속적으로 모니터링하고 최적화합니다. 이는 속도, 정확도, 메모리 사용량 등을 포함합니다. 
            </p>

            <p style="font-size: 14px;" class="paragraph-text justify-text">
                🔥 팀 협업 (w/t Github, JIRA): 다양한 개발자, 현업 엔지니어와 협력하여 프로젝트를 수행하고, 요구 사항을 이해하고 구현하는 과정에서 팀원들과 소통하며 협업합니다.
            </p>
        </div>
        <div>
            <span class="hint--bottom bottom-link" aria-label="Email">
                <a href="mailto:{{ site.email }}"><i class="head-icon fas fa-envelope"></i></a>
            </span>
        </div>

    </section>
</div>



