<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>            
                <div class="project-technologies">
                    <a class="semi-transparent-button with-border white-button" onclick="selected('smartfactory')">머신 러닝</a>
                    <a class="semi-transparent-button with-border white-button" onclick="selected('businessanalysis')">비즈니스 분석</a>
                    <a class="semi-transparent-button with-border white-button" onclick="selected('aillm')">LLM AI</a>
                </div>
            <div class="projects-wrapper">
            <!-- filled in by js -->
            </div>
        </div>
    </section>
</div>

<script src="https://unpkg.com/@mendable/search@0.0.205/dist/umd/mendable-bundle.min.js"></script>
<script>
Mendable.initialize({
    anon_key: 'dbb15796-1e85-41ab-a76e-fb59dc6c1ae8',
    type:"floatingButton",
    welcomeMessage:'(신경섭) 저에 대해서 질문해주세요!'
    // all the other props for the component type
});
</script>