
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Summary</h3>
                    <p style="font-size: 14px; color: white;"  class="paragraph-text center-align">
                        <li> PLC인터페이스 (MC protocol) </li> <br>
                        <li> 이미지 프로세싱 (Object detection, Classification, Segmentation etc) </li> <br>
                        <li> Pytorch 머신러닝 개발 (APC, R2R, Time series forecasting etc) </li> <br>
                        <li> SQL & RDS (MSSQL, PostgreSQL, MySQL etc) </li> <br>
                        <li> 데이터 가시화 (Spotfire, PowerBI, Streamlit etc) </li> <br>
                        <li> AI어플리케이션 개발 (llamaindex, langchain, LLM) </li> <br>
                        <li> CSP 서버 구축 (Azure, AWS) </li> <br>
                        위 기술을 사용하여 서비스를 제공합니다. <br>
                    </p>
                </div>

                <div class="technical-skills">
                    <h3  class="center-align skills-subsection">Technical</h3>
                    <p style="font-size: 12px;"  class="paragraph-text center-align">
                        아래 Progress bar는 자율적으로 개발이 가능한 정도 수치를 의미합니다. 
                    </p>

                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="font-size: 12px; background: #2980b9;"><span>PLC 인터페이스</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="70%">
                            <div class="skillbar-title" style="font-size: 12px; background: #2980b9;"><span>이미지 프로세싱</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="font-size: 12px; background: #2980b9;"><span>머신러닝 개발</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="font-size: 12px; background: #2980b9;"><span>SQL & RDS</span></div>
                            <div class="skillbar-bar" style="background: #3498db"></div>
                        </div> <!-- End Skill Bar -->

                        
                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="font-size: 12px; background: #2980b9;"><span>데이터 가시화</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                        <div class="skillbar clearfix " data-percent="75%">
                            <div class="skillbar-title"  style="font-size: 12px; background: #2980b9;"><span>CSP 서버</span></div>
                            <div class="skillbar-bar" style="background: #3498db;"></div>
                        </div> <!-- End Skill Bar -->
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>